<div class="btn-group" role="group">
  <a href="/specialty/new" class="btn btn-primary btn-lg active" role="button">Add New Specialty</a>
  <a href="/specialties" class="btn btn-warning btn-lg active" role="button">View Specialties</a>
</div>
