<form class="" action="/specialties" method="post">
  <label for="specialty">Name of Specialty</label>
  <input id = "specialty" type="text" name="specialty">
  <button type="submit">Add Specialty</button>
</form>

<a href="/">Home</a>
