<form class="well" action="/specialties" method="post">
  <div class="form-group">
    <label for="specialty">Name of Specialty</label>
    <input id = "specialty" type="text" name="specialty" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Add Specialty</button>
</form>

<a href="/" class="btn btn-default active" role="button">Home</a>
